#header {
    .logo {
        @include image('logo.png', no-repeat, 30px, false, true);
        @include column(4);
        height: 65px;
    }
    h3 {
        @include column(11);
        font-size: 200%;
        display: inline;
        color: inherit;
    }
    .panel {
        @include column(8, true);
        @include append(1);
        height: 80px;
    }
}
