html { background: $bgColor; }

body {
    @extend .bp;
    font-size: 87.5%; //14 out of 16px;
    
    #top {
        @include image('header-bg.jpg', repeat-x, top, true, true);
        position: absolute;
        width: 100%;
        height: 110px;
    }
    
    #container {
        @include container; 
        position: relative;
        min-height: 300px;
        height: auto;
    }
    
    #header {
        @include column($blueprint-grid-columns, true); 
        padding: 1em 0 0 0;
        height: 90px;
        color: white;
    }
    
    #content-wrap {
        @include column($blueprint-grid-columns - 0.05);
        background: white;
        min-height: 300px;
        height: auto;
        padding: 1em 0;
        border: 1px solid $borderColor;
        
        #content {
            min-height: 200px;
            height: auto;
            @include prepend(0.5);
            @include append(0.5);
        }
        
        #{headers()} {
            color: $secondaryColor;
        }
    }
    
    #footer {
        border-top: 1px solid $borderColor;
        background: white;
        padding: 1em 0;
        margin: 1em 0 0 0;
        height: 90px;
        color: $shadowColor;
    }
}

/* two-column content layout */
#content-wrap.two-col {
    #content {
        @include column(ceil(2 * $blueprint-grid-columns / 3) - 1.5);
    }
    
    #sidebar {
        min-height: 200px;
        height: auto;
        @include column(floor($blueprint-grid-columns / 3), true);
    }
}
