<div class="container">
    <div class="company">
        <div class="logo"></div>
        <div class="details">
            <div class="legal">
                <a href="http://majisti.com">
                    Majisti Solutions</a>
            </div>
            <p class="twitter">
                <a href="http://twitter.com/majisti_sol">Follow us</a>
            </p>
        </div>
    </div>
    <div class="details">
        <p class="author">Conception Steven Rosato,
            themeable design and layout by Steven Rosato and Jean-François Hamelin
            <span class="version">v1.0.0</span>
        </p>
        <p class="twitter">
            <a href="http://twitter.com/steven_rosato">
                Follow @Steven Rosato</a>
        </p>
        <p class="libs">
            Powered by Symfony2, Doctrine2, Compass, Semantic Blueprint, Sass2
        </p>
    </div>
</div>
