{% extends '::base.html.twig' %}

{% block title 'Majisti Sample Layout'|title %}

{% block assets %}{% endblock %}

{% block layout %}
<body>
    <div id="top"></div>
    <div id="container">
        <div id="header">
            {% block header %}
                {% include 'MajistiUtilsBundle:layout:header.html.twig' %}
            {% endblock %}
        </div>
        {% block content_layout %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
            {% include 'MajistiUtilsBundle:layout:footer.html.twig' %}
        {% endblock %}
    </div>
</body>
{% endblock %}
