{% extends '::base.html.twig' %}

{% use 'MajistiUtilsBundle:layout:header.html.twig' %}
{% use 'MajistiUtilsBundle:layout:footer.html.twig' %}

{% block title 'Majisti Sample Layout'|title %}

{% block assets %}{% endblock %}

{% block body_content %}
    <div id="top"></div>
    <div id="container">
        <div id="header">
            {{ block('header') }}
        </div>
        {% block content_layout %}{% endblock %}
    </div>
    <div id="footer">
        {{ block('footer') }}
    </div>
{% endblock %}
