$theme: 'crimsom';

$primaryColor: #C90000;
$secondaryColor: #FF6300;
$supportColor: #FF7E05;

$bgColor: #ece9de;
$borderColor: #ccc;
$shadowColor: #666;

@import "bundles/majistiutils/images/grid/crimsom/icon/maj-theme-icon-xsmall/*.png";
@include all-maj-theme-icon-xsmall-sprites(true);