$theme: 'forest';

$primaryColor: #007132;
$secondaryColor: #6E2A02;
$supportColor: #00D960;

$bgColor: #ece9de;
$borderColor: #ccc;
$shadowColor: #666;

@import "bundles/majistiutils/images/forest/icon/maj-theme-icon-xsmall/*.png";
@include all-maj-theme-icon-xsmall-sprites(true);